<div id="dashboardBSIMTicket" class="accordion accordion-popout">
    <div class="accordion-item card">
        <div class="accordion-header text-body d-flex justify-content-between align-items-center"
            id="accordionPopoutIconOne">
            <div class="d-flex align-items-center">
                <button type="button" class="accordion-button bg-warning text-white" data-bs-toggle="collapse"
                    data-bs-target="#dashboardBSIMTicket-1" aria-controls="dashboardBSIMTicket-1" aria-expanded="true">
                    <div class="display-5 me-4">
                        <i class='bx bx-table me-2'></i>
                        Datatable
                    </div>
                </button>
            </div>

            <!-- Right side: Refresh button -->
            <div class="ms-3 me-3">
                <button type="button" class="btn btn-warning btn-refresh-bsim-ticket" onclick="refreshBSIMDataTicket('{{.REFRESH_TABLE_BSIM_TICKET}}')">
                    <i class='bx bx-refresh me-2'></i> Refresh Data
                </button>
            </div>
        </div>


        <div id="dashboardBSIMTicket-1" class="accordion-collapse collapse show" data-bs-parent="#dashboardBSIMTicket">
            <div class="accordion-body mt-3">
                {{.TABLE_BSIM_TICKET}}
            </div>
        </div>
    </div>
</div>