<div class="misc-wrapper">
  <h2 class="mb-4 mx-2">Under Construction 
    <i class="fad fa-digging me-2"></i>
  </h2>
  <p class="mb-4 mx-2 text-warning">
    This feature has not been implemented yet. We are currently working on
    adding this functionality, and it will be available in a future update.
    Thank you for your patience and understanding as we continue to improve our
    services.
  </p>
  <div class="mt-4">
    <img
      src="{{.GLOBAL_URL}}assets/img/misc/transistor-architecture-and-building-under-construction.gif"
      alt="under-construction-img"
      width="500"
      class="img-fluid"
    />
  </div>
</div>
